[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "*"
requests = "==2.31.0"
sentry-sdk = "*"
psycopg2 = "*"
MetaTrader5 = "*"
rest-framework-simplejwt = "*"

[dev-packages]
pytest = "==7.4.0"
pytest-django = "==4.5.2"

[requires]
python_version = "3.13.2"
